.content {
  display: flex;
  flex-wrap: wrap;
  max-width: 328px;
  align-items: flex-start;
  width: 100vw;
  @include tablet {
    max-width: 680px;
  }
  @include desktop {
    margin-top: 16px;
    max-width: 100%;
    width: 100%;
  }
}

.card {
  margin-bottom: 16px;
  @include tablet {
    margin-bottom: 24px;
    margin-right: 24px;
    &:nth-child(2n + 2) {
      margin-right: 0;
    }
  }
  @include desktop {
    &:nth-child(2n + 2) {
      margin-right: 24px;
    }
    &:nth-child(3n + 3) {
      margin-right: 0;
    }
  }
}

.error_find {
  @include body2-normal($text-secondary);
  padding: 0;
  margin: 16px 0 0 0;
}
