.section {
  max-width: 100%;
  width: 100vw;
  height: 560px;
  position: relative;
}

.separator {
  max-width: 100%;
  width: 100vw;
  height: 56px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  z-index: 2;
}

.separator_top {
  top: 0;
  left: 0;
  transform: scale(-1, 1);
}

.separator_bottom {
  bottom: -1px;
  right: 0;
  transform: scale(-1, 1);
}
