html,
body {
  padding: 0;
  margin: 0;
  @include body2-normal($primary-text);
  background-color: #f3efe9;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.rc-pagination-item-active {
  color: $wine-color !important;
}

.rc-pagination-disabled {
  opacity: 0.5;
  cursor: none;
  pointer-events: none;
}
