$text-secondary: #343434;
$wine-color: #910c5c;
$white-color: #fff;
$primary-text: #212121;
$orange-color: #fab576;
$cream-color: #fef3e9;
$gray-color: #b4b4b4;
$orange-brith: #fda92b;
$orange-primary: #f29203;
$orange-light: #fcdaba;
