.block {
  background-color: #F3EFE9;
  position: relative;
  max-height: 100%;
  height: 100vh;
  max-width: 100%;
  width: 100vw;
  overflow: auto;
  @include desktop {
    max-width: 280px;
    width: 280px;
    margin-left: 0;
    margin-right: 24px;
    overflow: visible;
  }
}

.content {
  padding-top: 48px;
  max-width: 328px;
  width: 100vw;
  margin: 0 auto;
  @include desktop {
    max-width: 280px;
    width: 280px;
    padding-top: 0;
    margin: 0;
  }
}

.close {
  @include buttonDefault;
  position: fixed;
  top: 24px;
  right: 24px;

  &__line {
    height: 2px;
    max-width: 22px;
    width: 22px;
    border-radius: 22px;
    display: block;
    background-color: #000;

    &:nth-child(1) {
      transform: translateX(-5px) translateY(2px) rotate(45deg);

    }

    &:nth-child(2) {
      transform: translateX(-5px) rotate(-45deg);
    }
  }

  @include desktop {
    display: none;
  }
}

.row {
  border-top: 0.5px solid #B4B4B4;
  padding-top: 16px;
  padding-bottom: 16px;

  &:first-child {
    border-top: none;
    padding: 0;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include desktop {
      display: none;
    }
  }

  &:nth-child(2) {
    border-top: none;
  }
}

.head {
  padding: 0;
  margin: 0;
  @include headline4($primary-text);
  font-weight: 500;
  @include desktop {
    display: none;
  }
}

.clear {
  @include buttonDefault;
  @include body4($text-secondary);
  text-decoration-line: underline;
  @include desktop {
    display: none;
  }
}

.btn {
  padding: 6px 16px;
  @include body3-normal($primary-text);
  margin-right: 8px;
  margin-bottom: 8px;
}

.category {

}

.button {
  @include buttonDefault;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 16px;

  &_name {
    @include body2-normal($primary-text);
  }

  &_active {
    .button_name {
      @include body2-medium($wine-color);
    }
  }

  &_name {
    padding: 0;
    margin: 0;
  }

  &_number {
    @include body3-normal(#B4B4B4);
    padding: 0;
    margin: 0;
  }
}