.section {
  padding-top: 70px;
  max-width: calc(100% - 32px);
  width: 100vw;
  margin: 0 auto;
  position: relative;
  @include tablet {
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 680px;
  }
  @include desktop {
    padding-top: 123px;
    padding-bottom: 123px;
    max-width: 1192px;
  }
}

.hash {
  position: absolute;
  top: -25px;
  left: 0;
}

.head {
  margin: 0 0 32px 0;
  padding: 0;
  @include headline2-mobile($primary-text);
  @include tablet {
    @include headline2($primary-text);
  }
}

.content {
}

.dropdown_thematic {
  display: none;
  @include desktop {
    display: block;
    margin-right: auto;
  }
}

.dropdown_person {
  display: none;
  @include desktop {
    display: flex;
    align-items: center;
    margin-right: 32px;
  }
}

.text {
  display: none;
  @include desktop {
    display: block;
    margin: 0 16px 0 0;
    padding: 0;
    @include body3-normal($text-secondary);
  }
}

.dropdown_amount {
  display: none;
  @include desktop {
    display: block;
  }
}

.row_buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  @include desktop {
    justify-content: flex-end;
    // margin-bottom: 24px;
    margin-bottom: 0;
  }
}

.filter_btn {
  @include buttonDefault;
  @include body3-normal($primary-text);
  display: flex;
  align-items: center;
  @include desktop {
    display: none;
  }
}

.sort_btn {
  @include buttonDefault;
  @include body3-normal($primary-text);
  display: flex;
  align-items: center;
  @include desktop {
    display: none;
  }
}

.btn_icon {
  height: 24px;
  max-width: 24px;
  width: 24px;
}

.wrapper_icon {
  height: 24px;
  max-width: 24px;
  width: 24px;
  margin-right: 12px;
}

.overlay {
  z-index: 11;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

.catalog_content {
  display: flex;
}

.filter_catalog {
  display: none;
  @include desktop {
    display: block;
    margin-top: 60px;
  }
}

.interactive_block {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  align-items: center;
  width: 100vw;
  .row_buttons {
    display: none;
    @include desktop {
      display: flex;
    }
  }
  @include desktop {
    align-items: stretch;
  }
}

.pagination {
  list-style-type: none;
  margin: 24px auto 0 auto;
  padding: 0;
  display: flex;
  align-items: center;

  li {
    @include body1-normal($primary-text);
    margin-right: 24px;
    cursor: pointer;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.active {
  color: green;
}

.pagination_arrow {
  height: 32px;
  width: 32px;

  &_left {
    transform: rotate(-180deg);
  }

  &_right {
  }
}

.show_more {
  width: 154px;
  height: 44px;
  @include body3-normal($primary-text);
  padding: 10px 24px;
  margin: 16px auto 0 auto;
}
