.block {
  background-color: #F3EFE9;
  position: relative;
  max-height: 100%;
  height: 100vh;
  max-width: 100%;
  width: 100vw;
  overflow: auto;
  z-index: 11;
}

.content {
  padding-top: 48px;
  max-width: 328px;
  width: 100vw;
  margin: 0 auto;
  @include tablet {
    max-width: 680px;
  }
}

.close {
  @include buttonDefault;
  position: fixed;
  top: 24px;
  right: 24px;

  &__line {
    height: 2px;
    max-width: 22px;
    width: 22px;
    border-radius: 22px;
    display: block;
    background-color: #000;

    &:nth-child(1) {
      transform: translateX(-5px) translateY(2px) rotate(45deg);

    }

    &:nth-child(2) {
      transform: translateX(-5px) rotate(-45deg);
    }
  }
}

.row {
  border-top: 0.5px solid #B4B4B4;
  padding-top: 16px;
  padding-bottom: 16px;

  &:first-child {
    border-top: none;
    padding: 0;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &:nth-child(2) {
    border-top: none;
  }

  @include tablet {
    &:nth-child(2) {
      max-width: 500px;
    }
  }
}

.head {
  padding: 0;
  margin: 0;
  @include headline4($primary-text);
  font-weight: 500;
}

.btn {
  position: absolute;
  bottom: 0;
  margin-top: auto;
}

.sort_btn {
  display: inline-block;
  margin-bottom: 8px;


  &:first-of-type {
    margin-left: 0;
  }

  @include tablet {
    &:first-of-type {
      margin-right: 8px;
    }
  }
}

.btn_active {
  background-color: #FAB576;
}