.section {
  position: relative;
  max-width: 100%;
  width: 100vw;
  height: 658px;
  @include desktop {
    height: 560px;
  }
}

.overlay {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  @include tablet {
    background-position-x: center;
    background-size: cover;
  }
  @include desktop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
  }
}

.container {
  max-width: 328px;
  width: 100vw;
  margin: 0 auto;
  padding-top: 168px;
  @include tablet {
    max-width: 584px;
    padding-top: 140px;
  }
  @include desktop {
    padding-top: 150px;
    max-width: 1192px;
    padding-top: 0;
  }
}

.head {
  @include headline2-mobile($white-color);
  margin: 0 0 24px 0px;
  padding: 0;
  @include tablet {
    @include headline2($white-color);
  }
  @include desktop {
    max-width: 584px;
    width: 100vw;
    margin-left: 0;
  }
}

.subtitle {
  @include body1-normal($white-color);
  margin: 0 0 32px 0;
  padding: 0;
  @include desktop {
    max-width: 584px;
    width: 100vw;
    margin-left: 0;
  }
}
